:root {
    --clr-light: #9cd3d8;
    --clr-dark: #243240;
    --clr-primary: #2e2f5b;
    --clr-secondary: #0b698b;
    --clr-accent: #0396a6;
    --clr-btn: black;
    --clr-btn-text: white;

    --background: var(--clr-light);
}

.darkmode {
    --clr-light: #9cd3d8;
    --clr-dark: #243240;
    --clr-primary: white;
    --clr-secondary: rgb(34, 34, 34);
    --clr-accent: #1e3852;
    --clr-btn: white;
    --clr-btn-text: black;

    --background: var(--clr-dark);
}

/* Default Font Settings/Page Background Color */
body {
    font-family: 'Roboto', sans-serif;
    /*Default font weight*/
    font-weight: 380;
    background-color: var(--background);
}

/*Global Styling*/
h1, h2, h3, h4, h5, h6, p, td {
    color: var(--clr-primary);
}

p {
    line-height: 2em;
    font-size: 18px;
}

.b-scroll {
    overflow-x: hidden;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 3;
}

/*Text Color Styling for Span*/
.grn-text {
    color: lightseagreen;
}

#errorMsg {
    color: red;
}

/*Navigation Styles*/
.navbar {
    background: var(--clr-secondary);
    box-shadow: 0px 0px 10px gray;
    padding: 1rem 0;
    /* border-radius: 15px; */
}

.bar-icon {
    color: white;
}

.active {
    color: rgb(78, 240, 157) !important;
}

a.custom-hover:hover {
    color: #1c54a4 !important;
}

#darkModeButton {
    background-color: var(--clr-btn);
    color: var(--clr-btn-text);
}

/*Social Icon Styling*/
.social-icons {
    display: flex;
    list-style: none;
}

.fa {
    font-size: 30px;
    text-align: left;
    text-decoration: none;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 2.5px;
    border-radius: 5px;
    margin-right: 10px;
}

.fa-instagram {
    background: #ff40af;
    color: white;
    padding: 2.5px;
    border-radius: 5px;
    margin-right: 10px;
}

.fa-github {
    background: #2b3765;
    color: white;
    padding: 2.5px;
    border-radius: 5px;
    margin-right: 10px;
}

/*Main Header Styling*/
.main-header-h1 {
    font-size: 80px;
}

/* Slider */
.slideanim {
    visibility: hidden;

}

.slide {
    animation-name: slide;
    /* -webkit-animation-name: slide; */
    animation-duration: 1s;
    /* -webkit-animation-duration: 1s; */
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* Card Styling */
.card {
    background-color: var(--clr-accent);
    border-color: whitesmoke;
}

/*Image Styling*/
img {
    /* Transition for hovering */
    transition: 0.5s ease-in-out;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    width: 100%;
}

img:hover {
    transform: scale(1.02);
}

/*Every img have a box-shadow except those in header*/
.main-header img {
    box-shadow: none;
    display: block;
}

/*Table Styling - Before Poly*/
.table tr {
    border: 1px solid white;
}

/*Table Styling - Poly Life*/
.timeTable {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
}

.timeTable tr {
    border: 1px solid white;
}

.timeTable tr th {
    font-size: 13px;
    padding: 3px;
    border: 1px solid white;
    text-align: center;
}

.timeTable tr td {
    border: 1px solid white;
    text-align: center;
    font-size: 14px;
}

.timeslot {
    padding: 10px 0px 10px 0px;
}

/* Back to top button styling */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 5;
}

/*Footer Styling*/
footer.footer {
    font-weight: 700;
    /* Gradient Background */
    background: linear-gradient(90deg, lightseagreen 0%, darkgreen 100%);
}

/* In Mobile View */

@media (max-width:699px) {
    .card {
        border: 0;
    }

    #darkModeButton {
        margin-top: 15px;
    }

    .submit-btn {
        width: 100%;
    }
}

/* In Tablet view */
@media (min-width:700px) {
    #darkModeButton {
        margin-top: 15px;
    }

    .submit-btn {
        width: 300px;
    }
}

/* Add margin-top to darkmode button when hamburger icon appears */
@media (min-width:992px) {
    #darkModeButton {
        margin-top: 0px;
    }
}

/* In Laptop view */
@media (min-width:1200px) {
    #darkModeButton {
        margin-top: 0px;
    }

    .submit-btn {
        width: 300px;
    }
}